In [2]:
import pandas as pd
import glob
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from datetime import datetime
import math

In [3]:
df = pd.read_csv("OHAS_Dataset.csv")
df.head()

,Disease,Disease_CUI,Symptoms,Symptom_CUI,Weight,Height,Intensity,Severity,Age,Gender,BMI_Level,Region,Season
0,influenza,C0162565,uncoordi162tion,C0039239,68,180,high,medium,24,female,27.900,southwest,Summer
1,influenza,C0162565,fever,C0000737,68,170,low,medium,23,male,33.770,southeast,Summer
2,influenza,C0162565,pleuritic pain,C0235704,68,162,low,low,24,male,33.000,southeast,Summer
3,influenza,C0162565,snuffle,C0030554,68,162,high,medium,34,male,22.705,northwest,Summer
4,influenza,C0162565,throat sore,C0030552,68,185,low,high,21,male,28.880,northwest,Winter

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Disease      2129 non-null   object
 1   Disease_CUI  2119 non-null   object
 2   Symptoms     2127 non-null   object
 3   Symptom_CUI  2129 non-null   object
 4   Weight       2129 non-null   int64
 5   Height       2129 non-null   int64
 6   Intensity    2127 non-null   object
 7   Severity     2128 non-null   object
 8   Age          2129 non-null   int64
 9   Gender       2129 non-null   object
 10  BMI_Level    2129 non-null   float64
 11  Region       2129 non-null   object
 12  Season       2129 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 216.4+ KB

In [5]:
# CHeck for duplicates
df.duplicated().sum()

0

In [6]:
# Check for missing values by column
df.isna().sum()

Disease         0
Disease_CUI    10
Symptoms        2
Symptom_CUI     0
Weight          0
Height          0
Intensity       2
Severity        1
Age             0
Gender          0
BMI_Level       0
Region          0
Season          0
dtype: int64

In [7]:
# Drop rows with missing values
df.dropna(inplace=True)

In [8]:
# Another check for missing values by column
df.isna().sum()

Disease        0
Disease_CUI    0
Symptoms       0
Symptom_CUI    0
Weight         0
Height         0
Intensity      0
Severity       0
Age            0
Gender         0
BMI_Level      0
Region         0
Season         0
dtype: int64

In [9]:
#Rechecking missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2114 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Disease      2114 non-null   object
 1   Disease_CUI  2114 non-null   object
 2   Symptoms     2114 non-null   object
 3   Symptom_CUI  2114 non-null   object
 4   Weight       2114 non-null   int64
 5   Height       2114 non-null   int64
 6   Intensity    2114 non-null   object
 7   Severity     2114 non-null   object
 8   Age          2114 non-null   int64
 9   Gender       2114 non-null   object
 10  BMI_Level    2114 non-null   float64
 11  Region       2114 non-null   object
 12  Season       2114 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 231.2+ KB

In [10]:
df["Disease"].nunique()

147

In [11]:
# To count unique values for all the columns
df.nunique()

Disease        147
Disease_CUI    137
Symptoms       403
Symptom_CUI    638
Weight         102
Height          59
Intensity        3
Severity         3
Age             42
Gender           2
BMI_Level      546
Region           4
Season           2
dtype: int64

In [17]:
# To count the number of females and males in the dataset
df.Gender.value_counts()

Gender
female    1062
male      1052
Name: count, dtype: int64

In [18]:
# To count the number of diseases in each region
disease_count_by_region = df.groupby('Region')['Disease'].count()
print(disease_count_by_region)

Region
northeast    513
northwest    519
southeast    571
southwest    511
Name: Disease, dtype: int64

In [19]:
df.to_csv("OHAS_Cleaned_Dataset.csv", index=False, header=True)